/* src/components/Layout/Layout.css */
.layout-container {
  display: flex;
  min-height: 100vh;
  background-color: #f4f7f6;
}

.main-content-wrapper {
  margin-left: 220px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #282c34;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 60px;
}

.app-header h1 {
  margin: 0;
  font-size: 1.5em;
  /* Butonun uzamasını engellemek için başlığın maksimum genişliğini kısıtlarız */
  max-width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.logout-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
  /* Butonun genişliğini kontrol altına alarak uzamasını engelleriz */
  min-width: 100px;
  max-width: 120px;
  text-align: center;
}

.logout-button:hover {
  background-color: #c82333;
}

.login-green {
  background-color: #10b981; /* Yeşil */
  color: white;
}

.login-green:hover {
  background-color: #0e9f6e;
}

.app-main-content {
  padding: 20px;
  flex-grow: 1;
}